
container_commands:
  00_fix_script_permissions:
    command: "chmod u+x /opt/python/ondeck/app/scripts/*"
  01_fix_manage_permission:
    command: "chmod u+x /opt/python/ondeck/app/manage.py/"
  02_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  03_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true
  04_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  05_migrate_sba:
    command: "./manage.py migrate sba --noinput"
    leader_only: true
    
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: edcampionsba/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: edcampionsba.settings
  - option_name: AWS_SECRET_KEY
    value: KlK5K3sKhZfFDE0zsayhpYCthD1x36E9cgAaO/Kx
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAI4ZJZ4QAG5J5SZWQ